.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: #0d0d0d;
  color: white;
}

.left .icon,
.right .icon {
  font-size: 24px;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 55px;
}

.center h1 {
  color: #d4af37;
  margin: 0;
  font-size: 28px;
}

.center p {
  margin: 0;
  color: #ccc;
  font-size: 13px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #d4af37;
  color: black;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 11px;
  font-weight: bold;
}